* {
    color: rgb(130, 130, 132);
    font-family: 'Poiret One';
}

#top-logo {
    width: 100px;
}

#top-quote {
    font-size: 24px;
    font-family: 'Poiret One';
}

.header-container {
    padding: 0 15%;
}

.photo-container {
    padding: 0 15%;
}

.footer-container {
    padding: 0 15%;
}
#mail-icon {
    float: right;
}

ul {
    display: flex;
}

li {
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    color: rgb(153, 153, 152);
}

.nav-link:hover {
    color: rgb(130, 130, 132) !important;
}
.interiers-conteiner .row {
    margin-bottom: 0;
}
.interier-item {
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    #top-quote {
        margin: 20px 0;
    }
     ul li {
        display: block;
    }
}