{% extends 'base/main.html'%}
{% block content%}
{% load static %}
<div class="container-fluid photo-container mt-3">
    <div class="row interier-item">
        <div class="col-md-4 col-6">
            <img src="{% static '1.JPG' %}" class="rounded float-left img-fluid" alt="...">
        </div>
        <div class="col-md-8 col-6 text-center position-relative">
            <p class="text-uppercase position-absolute top-50 start-50 translate-middle"> 
                JONAS: THE ART OF FINE UPHOLSTERY
                <a href="https://www.elledecoration.ru/interior/flats/moskovskaya-kvartira-s-kaminom-v-prirodnoi-gamme/">ссылка</a>
            </p>
        </div>
    </div>  
    <div class="row interier-item">
        <div class="col-md-8 col-6 text-center position-relative">
            <p class="text-uppercase position-absolute top-50 start-50 translate-middle">
                JONAS: THE ART OF FINE UPHOLSTERY
                <a href="https://www.elledecoration.ru/interior/flats/moskovskaya-kvartira-s-kaminom-v-prirodnoi-gamme/">ссылка</a>
            </p>
        </div>
        <div class="col-md-4 col-6">
            <img src="{% static '1.JPG' %}" class="rounded float-left img-fluid" alt="photo">
        </div>
    </div>   
</div>

{% endblock content%}